/*优逸客*/
.you{
	width: 100%;
	height: 0.92rem;
	background: #0078E6;
	position: fixed;
	top: 0rem;
	font-size: 0rem;
	color: white;
}
.you ul:after{
	content: "";
	clear: both;
	display: block;
}
.you ul{
	height: 100%;
}
.you ul li{
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 0.92rem;
	box-sizing: border-box;	
}
.you ul li:nth-child(5){
	border-bottom: 0.05rem solid white;
}
.you ul li span{
	font-size: 0.28rem;
	color: white;
}

/*banner*/
.banner{
	width: 100%;
	height: 2.8rem;
	background: url(../img/banner.png)no-repeat;
	background-size: cover;
	line-height: 2.8rem;
	text-align: center;
	font-weight: bolder;
	margin-top: 0.92rem;
}
.banner span{ 
	font-size: 0.3rem;
	color: white;
	display: inline-block;
}
.banner em{ 
	font-size: 0.3rem;
	font-style: normal;
	color: #EF8B00;
}
.banner i{ 
	font-size: 0.3rem;
	font-style: normal;
	color: #00B5F7;
}


/*简介*/
.peo{
	width: 100%;
	height: auto;
	background:#F5F6FA;
	/*background: yellowgreen;*/
	box-sizing: border-box;
	padding-bottom: 0.01rem;
}
.peo:after{
	content: "";
	clear: both;
	display: block;
}
.peo .texts{
	width: 100%;
	font-size: 0.22rem;
	box-sizing: border-box;
	padding: 0.23rem 0.32rem;
}
.peo .jian{
	width: 95%;
	margin: auto;
	box-sizing: border-box;
	padding: 0.19rem 0.19rem;
	background: white;
	margin-bottom: 0.1rem;
	
}
.peo .jian:after{
	display: block;
	clear: both;
	content: "";
}
.peo .jian .pic{
	width: 0.75%;
	height: 0.22rem;
	background: #01B5FF;
	float: left;
	margin-top: 0.05rem;
	margin-right: 0.2rem;
	
}
.peo .jian .right{
	width: 96%;
	background: white;
	float: right;
}
.peo .jian .right .top2{
	width: 100%;
	/*background: blue;*/
	font-size: 0.24rem;
	padding-bottom: 0.15rem;
	box-sizing: border-box;
	border-bottom: 0.01rem dashed #999999;
	color: #444444;
	text-align: left;
}
.peo .jian .right .top2 p{
	margin-top: 0.1rem;
	color: #666666;
}
.peo .jian .right .top2 span{
	display: block;
	padding-bottom: 0.1rem;
	border-bottom: 0.01rem dashed #999999;
}
.peo .jian .right .top2 .box{
	width: 100%;
	height: 3.64rem;
	background: url(../img/remen.png)no-repeat;
	background-size: cover;
	background-position: center;
}
.peo .jian .right .fenx{
	width:100%;
	height: 0.8rem;
	line-height: 0.8rem;
	/*background: red;*/
	font-size: 0.24rem;
	box-sizing: border-box;
}
.peo .jian .right .fenx  .left{
	width: 75%;
	/*background: yellow;*/
	float: left;
}
.peo .jian .right .fenx img{
	width: 0.47rem;
	height: auto;
	margin-top: 0.2rem;
	display: block;
	float: left;
	margin-right: 0.1rem;
}
.peo .jian .right .fenx em{
	font-style: normal;
	display: block;
	float: left;
}
.peo .jian .right .fenx .right{
	width: 20%;
	height: 100%;
	/*background: green;*/
	float: right;
}
.peo .jian .right .fenx .right img{
	float: right;
	margin-right: 0.1rem;
}

.text2{
	width: 100%;
	padding: 0.15rem;
	font-size: 0.24rem;
	box-sizing: border-box;
}
.text2 p{
	margin-left: 0.2rem;
	line-height: 0.4rem;
}
.text2 em{
	font-style: normal;
	color: #01B5FF;
}
.peo .jie p{
	margin-bottom:0.1rem;
}
.peo .jie em{
	font-style: normal;
	color: #01b5ff;
}
.peo .jie .right .top2{
	border-bottom: 0rem;
}


.bot{
	width: 100%;
	/*height: 0.7rem;*/
	background: white;
	box-sizing: border-box;
	/*float: left;*/
	padding: 0.18rem 0.24rem;
}
.bot:after{
	content: "";
	display: block;
	clear: both;
}
.bot ul:after{
	content: "";
	display: block;
	clear: both;
}
.bot ul{
	width: 100%;
	height: 100%;
	/*background: purple;*/
}
.bot ul li{
	width: 1.51rem;
	height: 0.51rem;
	border-radius: 0.4rem;
	background: #01B5FF;
	float: right;
	box-sizing: border-box;
	padding: 0.08rem;
	float: left;
	display: inline-block;
	margin-right: 0.36rem;
	padding: 0.1rem;
	box-sizing: border-box;
}
.bot ul li .box{
	width: 0.34rem;
	height: 0.34rem;
	border-radius: 50%;
	box-sizing: border-box;
	border: 0.01rem solid white;
	text-align: center;
	line-height: 0.35rem;
	font-size: 0.18rem;
	float: left;
}
.bot ul li .right{
	text-align: center;
	line-height: 0.35rem;
	font-size: 0.25rem;
	color: white;
	float:center;
}
.bot ul li .boxs{
	float: right;
}

.bot ul li:nth-child(3){
	text-align: center;
	line-height: 0.35rem;
	font-size: 0.25rem;
	border: 0.01rem solid #666666;
	background: white;
}
.bot ul li:nth-child(3) a{
	color: #666666;
}
.bot ul li:nth-child(4) .right{
	text-align: center;
	line-height: 0.35rem;
	font-size: 0.25rem;
	color: white;
	float:center;
}


.bot ul li:nth-child(1){
	width: 0.51rem;
	height: 0.51rem;
	border-radius: 50%;
	background: #01B5FF;
	padding: 0.08rem;
}
.bot ul li:nth-child(1) .box{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #01B5FF;
	border: 0.01rem solid white;
	text-align: center;
	line-height: 0.37rem;
	font-size: 0.18rem;
	
}

.bot ul li:nth-child(5){
	width: 0.51rem;
	height: 0.51rem;
	border-radius: 50%;
	background: #01B5FF;
	margin-right: 0rem;
	padding: 0.08rem;
}
.bot ul li:nth-child(5) .box{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #01B5FF;
	border: 0.01rem solid white;
	text-align: center;
	line-height: 0.37rem;
	font-size: 0.18rem;
}
.bot ul li a{
	color: white;
}




.nav{
	width: 100%;
	height: auto;
	background: #F5F6FA;
	text-align: center;
	font-size: 0.20rem;
	color: #666666;
	box-sizing: border-box;
	padding: 0.2rem;
	line-height: 0.36rem;
}